<div class="marco">
 <h3>Details</h3>
 <br />
 <article>
  <h4>Details of meetings with Ashley</h4>
  <br />
  <p> Our meetings were definitely informative for the purpose of showing and telling and receiving feedback on the work and new assessments for me to perform. I have now started my web site and I should be finished by Monday to handle the direction to miss Ashley.</p>
  <br />
  <h4>Sources</h4>
  <br />
  <p> Several sources such as we pages and cooking books from which I have taken ideas out to make the recipes.</p>
  <br />
  <h4>References</h4>
  <br />
  <p> Foodnetwork.com. (2014). Carimanolas (meat-stuffed fried yucca root), panama. [online] Retrieved from: http://www.foodnetwork.com/recipes/ emeril-lagasse/carimanolas-meat-stuffed-fried-yucca-root-panama-recipe/index.html [Accessed: 22 Jan 2014].</p>
  <br />
  <p>Mycolombianrecipes.com. (2014). Colombian empanadas (empanadas colombianas) | my colombian recipes. [online] Retrieved from: http://www.mycolombianrecipes.com/colombian-empanadas-empanadas-colombianas [Accessed: 22 Jan 2014].</p>
  <br />
  <p>Mycolombianrecipes.com. (2014). Ripe plantain (platano maduro) | my colombian recipes. [online] Retrieved from: http://www.mycolombianrecipes.com/ripe-plantain-platano-maduro [Accessed: 22 Jan 2014].</p>
  <br />
  <p>Mycolombianrecipes.com. (2014). Arepas de choclo con quesito (colombian corn cakes with fresh cheese) | my colombian recipes. [online] Retrieved from: http://www.mycolombianrecipes.com/arepas-de-chocolo- con-quesito-colombian-corn-cakes-with-fresh-cheese [Accessed: 23 Jan 2014].</p>
  <br />
  <h4>Reflection of sources</h4>
  <br />
  <p>The sources are not all listed here because there are several books and tv shows from which several of my ideas we're taken, but they were so helpful when it came to experience because I had almost no experience, this was all new for me and that is why learning how to cook certain dishes and how much time was very helpful for a newbie.</p>
  <br />
  <h4>The area of interaction</h4>
  <br />
  <p>Human ingenuity relates to the invents of the human beings, and this relates immensely with cooking, for you see, several years have made the world of gastronomy the masterpiece it is now, and who can guess what the future will depart for this art, the possibilities are infinite but it must start with someone who is willing to change. I've chosen the teens this is because I know my own kind and I believe we all need to learn how to cook, sure maybe not in this precise moment, but everyone needs to know how to cook for their own sake and not only because you have to but because it is fun and when you enjoy it, it makes it better for when you have to.</p>
  <br />
  <h4>Porpouse</h4>
  <br />
  <p>The purpose is to teach that everyone can cook easy and with no secrets it is just simple cooking. Specially teenagers.</p>
  <br />
  <h4>Audience</h4>
  <br />
  <p>Everyone who wants and wishes to cook, specially teenagers, because we are always so lazy, and it is really simple and easy.</p>
  <br />
  <p>The final is a website and its brochure. I am currently working on.</p>
  <br />
  <p>Ps the website will be updated everyday.</p>
  <br />
 </article>
</div>