<div class="marco">
 <h3>Health</h3>
 <br />
 <article>
  <h4>Health tips for teenagers</h4>
  <br />
  <p>I know as a teenagers how parents always nag you about eating healthy and they're not wrong but they just want you to develop healthy eating habits and a balanced nutrition.</p>
  <br />
  <p>Our bodies need protein healthy cabs and healthy fats to get the fuel it needs.</p>
  <br />
  <p>You'll first need protein for your muscles which can be found in meats, eggs, milk, nuts and seeds.</p>
  <br />
  <p>The carbohydrates are the main source of energy, they are include in vegetables, fruits and grains.</p>
  <br />
  <p>The fats are the reserve energy, they come out when you don't get enough from your diet. They transport some nutrients and vitamins like A, D, E and K.</p>
  <br />
  <p>Some fats are good and some are bad, you simply call the bad ones saturated fats and they are found in dairy products and some meats they should be eaten the least. Good ones are omega 3 and omega 6.</p>
  <br />
  <p>As you may already know the breakfast is the most important meal of the day. The breakfast will most definitely be the most important part of your day and at least one other healthy meal after it.</p>
 </article>
</div>