  <div class="marco">
   <article>
    <table>
     <tr>
      <td align="center">
       <img src="/static/img/santi.JPG">
      </td>
      <td>
       <p>This page is all about my personal project, and it consists of a simple idea, which is anyone can cook i know it sounds like the movie ratatouille but i am stating cooking shouldn´t be stressful or hard it should be something you can really enjoy by yourself or with others.</p>
       <br />
       <p>Now why teens cook too? this is for proving anyone can cook since i have seen teenagers nowadays do not really care about the gastronomy (even though they eat a whole bunch of food). If i can get teens to cook i can get anyone to cook for themselves and that is my porpouse.</p>
      </td>
     </tr>
    </table>
   </article>
  </div>