<div class="marco">
 <h3>Tools</h3>
 <br />
 <article>
  <h4>Cooking skills</h4>
  <br />
  <p>Some people feel there is only one way you should hold your knife. I feel that holding a knife is kind of like holding a pencil. If someone has something that works for them, I suggest they use what comes naturally to them.</p>
  <br />
  <p>You can start your kids out with a smaller knife if an 8 inch chef’s knife seems to cumbersome. See what position your child naturally uses when they hold their knife.</p>
  <br />
  <p>The most common technique your child will be using will have them ‘rocking’ their blade from point to end. Have them start out with the point of the blade on the cutting board.</p>
  <br />
  <p>Then they will push the blade away from them, following the natural curve of the blade.</p>
  <br />
  <p>Make sure that their fingers will try & grip around whatever they are cutting. When holding smaller things like potatoes or smaller pieces of veg, you don’t want them so curled under that they will get caught as the blade goes thru the vegetable.</p>
  <br />
  <h4>The Chop & Draw</h4>
  <br />
  <p>Another fun skill your kids can use is ‘The Chop’. Have them place the palm of their free hand flat on the top of the blade. They can then push the knife away from them while moving the knife in a 45 degree direction & then back again.</p>
  <br />
  <p>I know it might seem frightening but using a sharp knife will actually be more safe than using a dull knife. Dull knives are more likely to slip off of whatever you are cutting, making it more likely for you to cut yourself. You should also encourage your kids to practice cutting as slowly as possible. If you are right in the middle of making dinner in a rush, it may not be the best time to supervise your child cutting. This is not the time you want to be distracted from what they are doing. Try not to have the tv in sight or other siblings rushing around & distracting your child as well. Focus is the word you should be thinking of here.
  </p>
 </article>
 <br />
 <br />
 <td>
  <audio controls>
   <source src="/static/aud/tools.m4a" type="audio/mpeg" />
  </audio>
 </td>
</div>